/* styles.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f1e3;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #ffc2d1;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
    font-family: 'Pacifico', cursive;
    font-size: 36px;
    color: #ff3366;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
  }

  nav ul li b {
    color: #ff3366;
    text-decoration: none;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
  }
  
  nav ul li.active a {
    font-weight: bold;
  }
  
  main {
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color: #ff3366;
  }
  
  .account-details, .order-history {
    margin-bottom: 40px;
  }
  
  .account-details h2, .order-history h2 {
    margin-bottom: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 24px;
    color: #ff3366;
  }
  
  .account-details p, .order-history p {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
    color: #333;
  }
  
  .highlight {
    font-weight: bold;
    color: #ff3366;
  }
  
  .order-history ul {
    list-style-type: none;
    padding: 0;
  }
  
  .order-history li {
    background-color: #fff;
    border: 1px solid #ff99bb;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  footer {
    background-color: #ffc2d1;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
  }